extends layout

block content
  h1= title
  p Bienvenido a #{title}
  ul
   li
    a(href='/product') Productos
   li
    a(href='/category') Categorias
    ul
     each category in categorys
      li
       a(href='/product/category/#{category.id}') #{category.name}