extends ../layout
block content
 h1= title
 form(class='ui-form' method='post', action='/category')
  div.form-row
   label(for='name') Nombre:
   input(type='text' id='name' name='category[name]')
  input(type='submit')