body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.d-ib {
	display: inline-block;
}

.product-list thead {
	background: #ccc;
	font-weight: bold;
	text-align: center;
}

.product-list td {
	padding: 5px;
}