body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.d-ib {
	display: inline-block;
}

.product-list thead {
	background: #ccc;
	font-weight: bold;
	text-align: center;
}

.product-list td {
	padding: 5px;
}


.ui-form {
	background: #dda;
	width: 400px;
	padding: 20px;
}

/**
 * UI
 **/

.ui-form * {
	box-sizing: border-box;
}
.ui-form label {
	display: block;
	margin-bottom: 5px;
}

.ui-form input[type='text'],
.ui-form textarea {
	width: 100%;
	border: solid 1px #ccc;
	border-radius: 3px;
	padding: 10px;
}

.ui-form input[type='submit'] {
	border: solid 1px #ccc;
	border-radius: 3px;
	padding: 10px;	
}

.form-row {
	margin-bottom: 10px;
}