extends ../layout
block content
 h1= title
 form(method='post', action='/product')
  fieldset
   legend Add new product
   label Product Name:
   input(name='product[name]')
   label Price:
   input(name='product[price]')
   select(name='product[categoryId]')
    each category in categories
     option(value='#{category.id}') #{category.name}
   input(type='submit')