extends ../layout
block content
 h1= title
 form(class='ui-form' method='post', action='/product')
  div.form-row
   label(for='name') Nombre:
   input(type='text' id='name' name='product[name]')
  div.form-row
   label(for='price') Precio:
   input(type='text' id='price' name='product[price]')
  div.form-row
   label(for='description') Descripcion:
   textarea(id='description' name='product[description]')
  div.form-row
   label(for='category') Categoria:
   select(id='category' name='product[categoryId]')
    each category in categories
     option(value='#{category.id}') #{category.name}
  input(type='submit')